.colors {
  display: flex;
  max-width: 39em;
  margin: 6vh auto 0;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: calc(100vh - 19em);
}

.color-stack {
  display: flex;
}

@media (min-width: 35em) {
  .colors {
    max-width: 1080px;
    margin-top: 3vh;
  }
}
