.tile {
  background-color: hsl(0, 0%, 10%);
  padding: 12vw;
  max-width: 5em;
  margin: 3em 2vw;
  margin-top: -2em;
  transition: all 0.3s ease-out;

  border-radius: 0.2em;
  box-shadow: 0;
}

.tile--modified {
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.15);
}
@media (min-width: 35em) {
  .tile {
    padding: 5em;
    margin: 1em 1.5vw;
  }
}
