.header {
  margin: 0;
  padding: 2em 2em 1em 2em;
  transition: background-color 0.8s ease-out;
  border-bottom: 0.2em solid #222;
  border-radius: 0.2em;
}

.header__color {
  margin: inherit;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.055em;
}

.header__subtext {
  background-color: #fff;
  max-width: 7em;
  padding: 0.5em 1.5em;
  border-radius: 0.2em;
  border: 0.1em solid green;

  transition: border-color 0.5s ease-out;
}

.header__buttons button {
  background-color: hsl(320, 50%, 20%);
  border: none;
  padding: 0.7em;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.15);
  color: hsl(0, 25%, 97%);
  margin-top: 1em;

  transition: box-shadow 0.2s ease-out;
}

.header__buttons button:focus {
  box-shadow: none;
}

@media (min-width: 35em) {
  .header__buttons button:focus {
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.15);
  }
  .header__buttons button:active {
    box-shadow: none;
  }
}
